

    
    
#currentTime {
    float: right;
}
#questionDiv {
    margin: 750px;
    
}

#startTime {
    text-align: center;
  
}
#createDiv {
    margin-top: 20px;
    border-top: 1px solid;
}
#backButton {
    background-color: whitesmoke;
    position: relative;
    
    color: black;
    
    text-align: center;
    

}
#clear {
    background-color: whitesmoke;
    color: black;
    text-align: center;

        }

button {
    border-radius: 8px;
    color:black;
    background-color: whitesmoke;
    align-self: start;

   


}

textarea {
    width: 80%;
    margin: 20px;

}

label {
    margin-left: 10px;
}

h1 {
    text-align: center;
}

li {
    background-color: white;
    margin-top: 10px;
    padding: 15px 10px;
    width: 35%;
    font-size: 16px;
    color: black;
    text-align: center;

}

.questionIndex {
    background-color: steelblue;
    margin-top: 20px;
    padding: 5px 15px;
    width: 80%;
    font-size: 21px;
    color: whitesmoke;

}

p {
    text-align: center;
    


}
ul {
    text-align: center;
}
